[Desktop Entry]
Type=Application
Name=Discut
Comment=Experimental unofficial native Discord client
Exec=serein
Icon=serein
StartupWMClass=app.discut.desktop
Terminal=false
Categories=Network;InstantMessaging;
